Source: cryfs-gui
Section: admin
Priority: extra
Maintainer: Mhogo Mchungu <mhogomchungu@gmail.com>
Uploaders:
Build-Depends: debhelper (>= 9), cmake, pkg-config, libgcrypt11-dev, libsecret-1-dev, qtbase5-dev, chrpath, bzip2
Standards-Version: 3.9.5
Homepage: https://github.com/mhogomchungu/cryfs-gui
Vcs-Git: git://git@github.com:mhogomchungu/cryfs-gui.git
Vcs-Browser: https://github.com/mhogomchungu/cryfs-gui

Package: cryfs-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: graphical front-end cryfs and encfs.
